{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form id="signup" name="form" method="post">{% csrf_token %}

        <div class="header">
            <h3>Add New User</h3>
            <p><img class="united-way-logo" src="{% static 'images/dashboard.jpeg' %}"/></p>
        </div>

        <div class="sep"></div>

        <div class="inputs">
            <label for="{{form.username.id_for_label}}">Username</label>
            {{form.username}}<br/><br/>
            <label for="{{form.password1.id_for_label}}">Password</label>
            {{form.password1}}
            <label for="{{form.password2.id_for_label}}">Confirm Password</label>
            {{form.password2}}
            <button type="submit" class="btn btn-primary">Add User</button>
            <a href="homepage.html" class="btn btn-link">Back to Homepage</a>
        </div>
    </form>
</div>
{% endblock %}
​