<table class="dashboard-table">
    <thead>
        <th>Program Name</th>
        <th>Agency Name</th>
        <th>Dollars Invested</th>
        <th>Funding Stream</th>
        <th>Fund Start</th>
        <th>Fund End</th>
        <th>Program Element</th>
        <th>Description</th>
        <th>Program Locations</th>
        <th>Links</th>
    </thead>

    <tbody>
    {% for row in data_table %}
        <tr>
            {% for value in row %}
                {% if forloop.last %}
                    <form action="/map.html" method="post">
                    {% csrf_token %}
                    <td><input type="submit" value="postalcodes" id="postalcodes" name="postalcodes" class="btn btn-primary"></td>
                    </form>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

