{% load static %}




<h1 class="text-center">Allocation Charts</h1>
<h4 class="text-center"> (In $)</h4>
<div id="graph_container">
    <div id="city" data-name="City vs Allocation" class="graph">city</div>
    <div id="city_grouping" data-name="City Grouping vs Allocation" class="graph">city grouping</div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});

  function aggregateData(dataTable, groupByIndex){
    return google.visualization.data.group(dataTable, [groupByIndex],
        [{'column': 0, 'aggregation': google.visualization.data.sum, 'type': 'number'}])
  };

  function drawPieChart(id, title, data, counter) {
    var chart = 0;

    if(counter % 2 == 0){
        chart = new google.visualization.BarChart(document.getElementById(id));
    } else {
        chart = new google.visualization.PieChart(document.getElementById(id));
    }

    var options = {
      title: title
    };

    chart.draw(data, options);
  }

    $(function() {
    var data = {{pie_table | safe}};
    var dataTable = google.visualization.arrayToDataTable(data);

    $(".graph").each(function(i) {
        var id = this.id;
        var title = $(this).data("name");
        var groupByIndex = i + 1;
        var data = aggregateData(dataTable, groupByIndex);

        drawPieChart(id, title, data, i);
    });
  });
</script>

</body>