{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    

    <title>United Way Login</title>
      <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    

</head>

<body>

    

    <!-- Header -->
    <header id="top" class="header row">
        <div class="text-vertical-center">
            <h1 class="col-md-6 col-md-offset-4">United Way Database</h1>
        </div>
    </header>

    <div >
            <img class="united-way-logo" src="{% static 'uw-dashboard/images/dashboard.jpeg' %}"/>
        </div>

    <!-- About -->
    <section id="login" class="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center" ng-controller="AppCtrl">
                    <h2>Login</h2>
                    <form name="form" ng-submit="login()" role="form">
                        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <input type="button" onclick="location.href='homepage.html';" value="Login" class="btn btn-primary"/>
                            <!--<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>-->
                        </div>
                    </form>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


</body>

</html>
