{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="text-vertical-center">
    <h1 class="logo-title">United Way Database</h1>
</div>


<div>
    <img class="united-way-logo" src="{% static 'images/dashboard.jpeg' %}"/>
</div>
<!-- About -->
<section id="login" class="about">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>Login</h2>
                <form name="form" method="POST" role="form"> {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        <span class="help-block">Username is required</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        {{ form.password }}
                        <span class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Login" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
{% endblock %}
