{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Program Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <!--<script src="{% static 'map.js' %}"></script>-->
</head>
<body>

<div id="floating-panel">
    <div>
        <a href="{% url 'homepage' %}"><img class="united-way-logo-map" src="{% static 'images/dashboard.jpeg' %}"/></a>
    </div>
    <div class="inside-title">
        <div class="title-text-map">United Way Program and</div>
        <div class="title-text-map">Agency Database</div>
    </div>
    <div class="options but-map">
        <a class="btn btn-primary" href="{% url 'homepage' %}">Home Page</a>
    </div>
</div>
<div id="map"></div>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {
            lat: 49.1609273,
            lng: -122.74400347
        }
    });

    var data = {{data_table|safe}};
    var addresses = data[0];
    var loc_names = data[1];
    var pro_names = data[2];
    var latitudes = data[3];
    var longitudes = data[4];
    for (count = 0; count < addresses.length; count++) {
        var latlng = new google.maps.LatLng(latitudes[count], longitudes[count]);
        plotMap(map, addresses[count], loc_names[count], pro_names[count], latlng);
        }
  }

function plotMap(resultsMap, address, name, pro_name, latlng){
        contentString = '<div><b>Location name: </b>'.concat(name)+'</div>'+
                        '<div><b>Program name: </b>'.concat(pro_name)+'</div>'+
                        '<b>Address: </b><a href="https://maps.google.com/maps?q='.concat(latlng)+'">'.concat(address)+'</a>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            map: resultsMap,
            position: latlng,
            title: 'United Way Program'
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker, name);
        });
}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuvN-VnGnbsgVsF5aDaNtlmqWisnJ0AoE&callback=initMap">
</script>
</body>
</html>
