{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        <img class="united-way-logo" src="{% static 'images/dashboard.jpeg' %}"/>
    </div>
    <div class="text-center title-text">United Way Program and Agency Database</div>
    <div class="text-center-home title-text">
      <a class="btn btn-primary" href="/homepage.html">Home Page</a>
      <a class="btn btn-primary" href="/map.html">Map</a>
      <a class="btn btn-primary" href="/search.html">Search</a>
    </div>
    </div>
</div>
<form class="form-horizontal" method="POST"> {% csrf_token %}
<fieldset>

<div class="row">
    <div class="dropdown col-md-2 col-md-offset-3">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}
