{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>body {padding-top: 20px;}</style>
<div class="container">
    <div>
        <img class="united-way-logo" src="{% static 'images/dashboard.jpeg' %}"/>
    </div>
    <div class="text-center title-text">United Way Program and Agency Database</div>
    <div class="text-center-home title-text">
      <a class="btn btn-primary" href="/homepage.html">Home Page</a>
    </div>
    </div>
</div>

<legend class="text-center">Upload file</legend>

<div class="upload-section">
    <div class="dropdown col-md-2 col-md-offset-3">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}