#focus_area {
    overflow: scroll;
}

.united-way-logo-map {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 20px;
}

.miis {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.mii-div{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.totals-div {
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right!important;
    padding-right: 15px;
}

.pad-header-left {
		padding-left: 45px;
}

.header-text {
    font-family: 'FC Kaiser Cond', sans-serif;
    font-size: 25px;
    color: #000;
}

.text-center {
	text-align: center;
}

.text-center-home {
    text-align: center;
    display: table;
}

.search-result-title-text{
	text-align: center!important;
	font-size: 35px;
	font-weight: bold;
}

.form-actions {
    display: inline-block;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
select[multiple], select[size] {
    overflow: scroll;
    height: 100px;
}

.btn-custom {
    color: #333;
    background-color:   #928780;
}

.text-vertical-center {
    margin: 0 auto;
}

.logo-title {
    text-align: center;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.title-text {
	font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    max-width: 500px;
    margin: 0 auto;
}

.inside-title {
  display: table; 
}

.title-text-map {

    font-size: 20px;
/*    line-height: 45px;*/
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.filter-text {
	font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    color: #808080
}

.map-display{
    width: 100%;
    height: 800px;
}

.united-way-logo-map {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 59px;
}


.united-way-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
}

.results {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 500px;
}

.united-way-logo-header {
	padding-left: 15px;
	height: 150px;
}

.but-map {
    position: absolute;
    right: 0;
}

.filter-select {
	overflow: hidden;
	text-overflow: ellipsis;
}

.filters {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.option-parent {
	font-weight: bold;
	font-style: italic;
}

.option-child {
	padding-left: 15px
}

.col-centered {
	float: none;
	margin: 0 auto;
	padding: 10px;
}



.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-toggle{
	border-color: #000;
  	color: #fff;
  	background-color: #000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.right-allign {
    text-align: right;
}


.btn {
	width: 150px;
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 10px;
}

.btn2 {
font-family: 'FC Kaiser Cond', sans-serif;
	width: 88px;
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.multiselect-container2 {
        overflow: hidden;
        text-overflow: ellipsis;
 }


.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.session-filters {
    text-align: center;
}

.vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}


@font-face {
	font-family: "FC Kaiser Cond";
	font-weight: 400;
	src: url("https://swoogo.s3.amazonaws.com/themes/5769801fe9e22/fckaiser_cond-medium-webfont.eot");
	src: url("https://swoogo.s3.amazonaws.com/themes/5769801fe9e22/fckaiser_cond-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://swoogo.s3.amazonaws.com/themes/5769801fe9e22/fckaiser_cond-medium-webfont.woff") format("woff"), url("https://swoogo.s3.amazonaws.com/themes/5769801fe9e22/fckaiser_cond-medium-webfont.ttf") format("truetype");
}

.upload_btn {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload_btn + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: red;
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
}

.upload_btn:focus + label,
.upload_btn + label:hover {
    background-color: DarkRed;
    outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

#graph_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.graph {
    flex-grow: 1;
    width: 900px; height: 500px;
}
